.container{
    background-color: rgb(44, 33, 33);
    width: 280px;
    height: 250px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
   
}

h2{
    color: white;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
width: 100px;
height: 50px;
border-radius: .5rem;
border: none;
background-color: rgb(0, 47, 255);
color: white;
}
