*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.parent{
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    height: 330px;
    width: 280px;
    border-radius: .8rem;
    padding: 20px;
    display:  flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 1px;
}

.top button{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: .2rem;
    background: transparent;
    color: grey;
    padding: 4px 8px;
    gap: .2rem;

}

.center h3{
    font-size: 17px;
    font-weight: 500;
}

.center h3 span{
    font-size: 9px;
    font-weight: 400;
    color: #8b8b8b;
}

.center h2{
    font-size: 20px;
}

.center .tag{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.center .tag h4{
    font-size: 10px;
    background-color: #dadada;
    color: black;
    padding: 4px 8px;
    font-weight: 500;
    border-radius: 3px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #b1b1bb;
    padding-top: 15px;
}

.bottom button{
    background-color:  black;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    column-width: 600;
}

.bottom h3{
    font-size: 17px;
}

.bottom p{
    font-size: 10px;
    color: #b1b1bb;
}